In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_excel(r"../data/vrpp_raw.xlsx", sheet_name="Vessel Data")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379930 entries, 0 to 379929
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Berth ID              379930 non-null  int64
 1   Vessel ID             379930 non-null  object
 2   Local Port            379930 non-null  object
 3   Remote Port           379930 non-null  object
 4   Trade                 379930 non-null  object
 5   Container Type        379930 non-null  object
 6   ETA                   379885 non-null  datetime64[ns]
 7   ETD                   379930 non-null  datetime64[ns]
 8   Has Dasngerous Cargo  379930 non-null  bool
 9   Dry/Reefer            379930 non-null  object
 10  Container Size        379930 non-null  int64
 11  Weight KGS            379859 non-null  float64
 12  Arrival Date          379930 non-null  datetime64[ns]
 13  Sailing Date          379930 non-null  datetime64[ns]
 14  Containers            379930 non-null  int64
 15  Delay Duration        379930 non-null  object
 16  Service Days          379930 non-null  int64
 17  TEU                   379930 non-null  int64
 18  Delay_Status          379930 non-null  object
 19  Sailing Season        379930 non-null  object
 20  Load Factors          379930 non-null  int64
dtypes: bool(1), datetime64[ns](4), float64(1), int64(6), object(9)
memory usage: 58.3+ MB

In [5]:
df.describe()

,Berth ID,ETA,ETD,Container Size,Weight KGS,Arrival Date,Sailing Date,Containers,Service Days,TEU,Load Factors
count,379930.000000,379885,379930,379930.000000,3.798590e+05,379930,379930,379930.000000,379930.000000,379930.000000,379930.000000
mean,2.503561,2025-05-21 14:07:25.871777024,2025-05-23 06:41:55.953991168,33.278722,7.060655e+04,2025-05-16 12:45:29.151159296,2025-05-17 20:39:47.959887616,4.176977,6.747532,7.030016,1.660830
min,1.000000,2024-07-06 00:00:00,2024-11-16 00:00:00,20.000000,1.000000e-01,2024-07-06 00:00:00,2025-01-01 00:00:00,1.000000,-198.000000,1.000000,1.000000
25%,2.000000,2025-03-16 00:00:00,2025-03-18 00:00:00,20.000000,9.537000e+03,2025-03-10 00:00:00,2025-03-11 00:00:00,1.000000,2.000000,2.000000,1.000000
50%,3.000000,2025-05-21 00:00:00,2025-05-22 00:00:00,40.000000,2.155500e+04,2025-05-17 00:00:00,2025-05-18 00:00:00,1.000000,5.000000,2.000000,2.000000
75%,4.000000,2025-07-27 00:00:00,2025-07-29 00:00:00,40.000000,5.400000e+04,2025-07-22 00:00:00,2025-07-24 00:00:00,4.000000,9.000000,6.000000,2.000000
max,4.000000,2026-07-22 00:00:00,2025-12-20 00:00:00,45.000000,1.048416e+07,2025-12-28 00:00:00,2025-09-29 00:00:00,417.000000,365.000000,834.000000,2.000000
std,1.118388,NaN,NaN,9.463674,1.810642e+05,NaN,NaN,8.954815,7.067761,15.725351,0.473428

In [6]:
print("\n--- Categorical Summary ---")
cat_cols = df.select_dtypes(include=["object", "bool"]).columns
for col in cat_cols:
    unique_vals = df[col].nunique()
    print(f"{col}: {unique_vals} unique values")

--- Categorical Summary ---
Vessel ID: 8958 unique values
Local Port: 341 unique values
Remote Port: 454 unique values
Trade: 37 unique values
Container Type: 25 unique values
Has Dasngerous Cargo: 2 unique values
Dry/Reefer: 2 unique values
Delay Duration: 144 unique values
Delay_Status: 4 unique values
Sailing Season: 4 unique values

In [7]:
print("\n--- Missing Values ---")
print(df.isnull().sum().sort_values(ascending=False))

--- Missing Values ---
Weight KGS              71
ETA                     45
Local Port               0
Vessel ID                0
Berth ID                 0
Trade                    0
Remote Port              0
ETD                      0
Container Type           0
Has Dasngerous Cargo     0
Dry/Reefer               0
Container Size           0
Arrival Date             0
Sailing Date             0
Containers               0
Delay Duration           0
Service Days             0
TEU                      0
Delay_Status             0
Sailing Season           0
Load Factors             0
dtype: int64

In [8]:
print("\n--- Duplicates ---")
print("Number of duplicated rows:", df.duplicated().sum())

--- Duplicates ---
Number of duplicated rows: 1052

In [9]:
initial_rows = len(df)
df = df.drop_duplicates()
removed_dupes = initial_rows - len(df)

In [10]:
df = df.dropna(subset=["Weight KGS"])
df = df.dropna(subset=["ETA"])

In [11]:
print("\n--- Missing values after cleaning ---")
print(df.isnull().sum().sum(), "missing values left in total")

print(f"Final dataset shape: {df.shape}")

--- Missing values after cleaning ---
0 missing values left in total
Final dataset shape: (378763, 21)

In [1]:

clean_path = "../data/vrpp_clean.xlsx"
df.to_excel(clean_path, index=False)

print(f"Cleaned dataset saved to: {clean_path}")
print(f"Final shape: {df.shape}")

NameError: name 'df' is not defined